/*初始化默认css*/
@charset "utf-8";
*{margin:0; padding:0;}img{border:0;}li{list-style:none;}em,i{font-style:normal;}
* {-webkit-box-sizing: border-box;-webkit-user-select:none; -webkit-tap-highlight-color:rgba(255, 255, 255, 0);}
*:not(input,textarea){-webkit-box-sizing: border-box;-webkit-user-select:none;}input[type=button]{-webkit-appearance:none;outline:none}
a,a:link,a:visited,a:hover,a:active{color: #000; text-decoration:none; border: none;}::-webkit-input-placeholder { color:#666; }input:-moz-placeholder { color:#666; }
iframe {width: 0;height: 0;line-height: 0;overflow: hidden}
html {-ms-touch-action: none;}
input,textarea{-webkit-user-select: auto;}
body{background:#fff; font-family:"Microsoft YaHei",Helvetica; font-size: 1em;}
html,body{height: 100%;}

/*适配设备尺寸*/
@media only screen and (max-width: 320px) {
	body{font-size: 12px;}
}
@media only screen and (min-width: 321px) and (max-width: 640px) {
	body{font-size: 14px;}
}
@media only screen and (min-width: 641px) and (max-width: 960px) {
	body{font-size: 16px;}
}
@media only screen and (min-width: 961px) {
	body{font-size: 18px;}
}

/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.ellipsis{text-overflow: ellipsis; overflow: hidden;  word-break: break-all; white-space: nowrap;}
.fl{float: left;}
.fr{float: right;}
.hide{display: none;}

.ft-b{font-weight: bold;}
.ft-red{color: #ff7167;}
.ft-blue{color: #0066cc;}
/*********************** "css  "xc-" common" ***********************/
.xc-icon{background-repeat: no-repeat; background-position: center; background-size: cover;}
.xc-progress-bar{width: 100%; height: 8px; border-radius: 5px; overflow: hidden;}
.xc-progress-bar b{display: block; height: 100%;}

.xc-icon-label{}
.xc-icon-label .xc-icon, .xc-icon-label .xc-label{display: inline-block; vertical-align: middle;}
.xc-icon-label .xc-label{margin: 0 5px;}

.xc-input-group{padding: 5px 0;}
.xc-input-group .label{padding: 5px 0;}
.xc-input-wrap{padding: 5px 0; border: solid 1px #c9c9c9; border-radius: 5px;}
.xc-input-wrap input{width: 100%; border: none; text-indent: 5px; outline:none;}

.xc-mask{display: none; position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 10; background-color: rgba(0,0,0,0.5);}
/************************   "xc-"   styles   **************************/
.xc-bar{height: 44px; position: fixed; left: 0; right: 0; z-index: 10;}
.xc-bar-nav{top: 0; line-height: 40px; }
.xc-btn-nav{}
.xc-btn-nav .xc-icon, .xc-btn-nav .xc-nav-label{vertical-align: middle;}

.xc-title{text-align: center;}
h1.xc-title{font-size: 1.2em;}
h2.xc-title{font-size: 1em;}
.xc-bar .xc-title{display: inline-block; width: auto; margin: 0 auto; line-height: 40px;  position: absolute; left: 40px; right: 40px; overflow: hidden; text-overflow: ellipsis;}
.xc-table-view{}
.xc-table-view-cell{padding: 10px; overflow: hidden;}

.xc-bar-tab{display: table; width: 100%; bottom: 0;}
.xc-tab-item{font-size: 1em; display: table-cell; text-align: center;}
.xc-tab-item .xc-icon{display: block; margin: 2px auto;}
.xc-tab-item .xc-tab-label{margin: 0;}

.xc-bar-control{bottom: 0;}
/*************************************************************/

/************************ page common *************************/
.section-title{font-size: 1em; padding-left: 8px; border-left: solid 2px #8fc21f;}

