.icon-more{background-image: url(../img/icon-ellipsis_21_5.png);}
.icon-coin{background-image: url(../img/icon-coin-black_30_30.png);}
.icon-coin.on{background-image: url(../img/icon-coin-green_30_30.png);}
.icon-purse{background-image: url(../img/icon-purse-black_30_30.png);}
.icon-purse.on{background-image: url(../img/icon-purse-green_30_30.png);}
.icon-setting{background-image: url(../img/icon-setting-black_30_30.png);}
.icon-setting.on{background-image: url(../img/icon-setting-green_30_30.png);}
.icon-arrow-left{background-image: url(../img/icon-arrow-left_36_36.png);}
.icon-rmb{background-image: url(../img/icon-rmb-white_20_20.png);}
.icon-protect{background-image: url(../img/icon-protect3_18_18.png);}
.icon-person{background-image: url(../img/icon-person_16_16.png);}
